<h3>Movie Details</h3>
<div>
  <table>
    <tr>
      <th align="right">Title:</th>
      <td><%= @movie.title %></td>
    </tr>
    <tr>
      <th>Format:</th>                    
      <td><%= @movie.format %></td>
    </tr>
  </table>
  <p><%= simple_format(@movie.description) %></p>

  <%#= unless @movie.people.empty? do %>
    <table>
      <tr>
        <th>Person</th>
        <th>Role</th>
        <th></th>
      </tr>
      <% @movie.people.uniq.each do |person| %>
        <tr>
          <td><%= person.name %>  </td>
          <% roles = person.involvements.collect {|i| i.role }%>
          <% roles = roles.join(', ') %>
          <td><%= roles %></td>
          <td><%= link_to "Delete", involvement_path, 
                  method: "delete", confirm: "Are you sure?" %></td>
        </tr>
      <% end %>
    </table>
  <%# end -%>
</div>

<%= link_to "All Movies", movies_path %> | 
<%= link_to "Edit Movie", edit_movie_path %> |
<%= link_to "Remove Movie", movie_path,
        method: "delete", confirm: "Are you sure?" %> |


<%= link_to "Associate People", new_involvement_path %>
