<h2>Add An Association</h2>
<%= error_messages_for :involvement %>

<%= form_for @involvement do |f| -%>
  <p>
  <%= f.label :person, "Person" %>  
  <% people = @people.map {|person| [person.name, person.id] }%>
  <%= f.select(:person_id, options_for_select(people)) %> <br>
  
  <%= f.label :role, "Role" %>
  <%= f.text_field :role %>
  </p>

  <p>
  <%= f.label :movie, "Movie" %>
  <% movies = @movies.map {|movie| [movie.title, movie.id] }%>
  <%= f.select(:movie_id, options_for_select(movies)) %> <br>
  </p>

  <%= f.submit "Submit" %>

<% end -%>
